<section data-ng-controller="HomeController">
    <div class="row">
        <div class="col-sm-6" ng-repeat="alert in alerts">
            <div class="row">
                <div class="col-xs-2">
                    <button type="button" class="btn" ng-class="alert.color">
                      ICON
                  </button>

                </div>
                <div class="col-xs-10">
                    {{alert.total}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-2">
                follw up required
            </div>
        </div>


    </div>
</section>